@charset "UTF-8";

:root{
    --colorFundo: #012030;
    --colorTeclas: #13678A;
}

.calculadora{
    margin-top: 40px;
    background-color: var(--colorFundo);
    padding: 20px;
    border: solid 1px #000;
    box-shadow: 1px 1px 5px #000;
    border-radius: 10px;

}

.resultado{
    text-align: right;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid #000;
    box-shadow: 1px 1px 1px #000;
    background-color: #d9d9d9;
}

.btn{
    width: 60px;
    height: 50px;
    margin: 5px;
    border: none;
    box-shadow: 1px 1px 1px #000;
    background: var(--colorTeclas);
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
 
 }

.maior{
    width: 130px;
}

.enter{
    height: 110px;
}



